<html lang="en">
    <head>
        <!-- Required meta tags for bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <title>Every Word A Story</title>
        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- scripts for assisting with all of the fancy server stuff -->
        <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
        <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
        <!-- custom fonts -->
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Permanent+Marker&display=swap" rel="stylesheet">
        <!-- custom css -->
        <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <p>Signed in as: <b>{{username}}</b></p>
                    <p><a href="/logout"> - Log out - </a></p>
                    <p><a href="/account"> - Manage Account - </a></p>
                </div>
                <div class="col-sm-6">
                    <h1>Every Word A Story</h1>
                </div>
                <div class="col-sm-3">
                    <p>View Whole Story</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 ad">
                    <p>Ad</p>
                </div>
                <div class="col-sm-6">
                    <section id="words">
                    </section>
                </div>
                <div class="col-sm-3 ad">
                    <p>Ad</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>You can post once every {{timeBetweenPosts}} minutes.  If you'd like to post more frequently, please head over to <a href="/account">account management</a>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <section id="makeWord">
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 ad">
                    <p>Ad</p>
                </div>
                <div class="col-sm-3">
                    <section id="makeCloud">
                    </section>
                </div>
                <div class="col-sm-3">
                    <section id="cloud">
                    </section>
                </div>
                <div class="col-sm-3 ad">
                    <p>Ad</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <section id="error">
                    </section>
                </div>
            </div>
        </div>
        <script type="module"> import ReactWordcloud from '../node-modules/react-wordcloud'; </script>
        <script src="/assets/appBundle.js"></script>
        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>