body {
    background-color: #DAB67F;
    text-align: center;
    color: black;
    font-family: 'Bree Serif', serif;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

a {
    color: #717171;
    font-weight: bold;
}

a:hover, .word:hover {
    font-weight: bolder;
    text-decoration: none;
    color: #D9D1D4;
}

.row {
    margin: 0.5em;
}

.ad {
    background-color: #364652;
}

#words {
    padding: 50px;
    font-size: 1.25em;
    background-color: #717171;
    border-radius: 50px;
    word-wrap: break-word;
    height: 40rem;
    overflow-y: scroll;
}

#error {
    position: fixed;
    bottom: 0;
    right: 10%;
    left: 10%;
}

/*mobile modifications*/
@media (max-width: 780px) {
    #words{
        height: 10rem;
    }
}