body {
    background-color: #DAB67F;
    text-align: center;
    color: black;
    font-family: 'Bree Serif', serif;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

a {
    color: #717171;
    font-weight: bold;
}

a:hover, .word:hover {
    font-weight: bolder;
    text-decoration: none;
    color: #D9D1D4;
}

.row {
    margin: 0.5em;
}

#words {
    padding: 50px;
    font-size: 1.25em;
    background-color: #717171;
    border-radius: 50px;
    word-wrap: break-word;
}